/*
Multi-line comment
The same as C++ and Java
But cannot use //            
    */
.CS3870Title {
    font-family: Century, Arial;
    color: blue;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid
}

/* this is a comment */
.CS3870Name {
    font-family: 'Century Gothic';
    color: black;
    text-align: center;
    font-style: italic
}

.CS3870Assignment {
    font-family: 'Times New Roman';
    color: red;
    text-align: center;
    text-decoration: underline
}

.CS3870AssignmentLogin {
    font-family: 'Times New Roman';
    color: red;
    text-decoration: underline
}

.MasterTitleWithLogin {
    font-family: 'Times New Roman';
    color: red;
    text-align: center;
    text-decoration: underline;
    width: 10%;
    margin-left: 35%;
}

body {
    padding-left: 10em;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100px;
    left: 30px;
    width: 10em;
    z-index: 1;
}

.insidenavbar {
    list-style-type: none;
    padding-left: 1em;
    margin: 0
}

p.centerText {
    text-align: center
}

h3.centerText {
    text-align: center
}

.textPink {
    color: lightpink;
}

td.textRed {
    color: red;
}

td.textBlack {
    color: black;
}

th.BigFont {
    font-size: large;
}

.dataItem {
    text-align: right
}

.rightAlign {
    text-align: right
}

.centerAlign {
    text-align: center
}

.centerWidth10PercentAndTextAlignRight {
    z-index: 1;
    display: block;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    text-align: right
}

.centerWidth10PercentAndTextAlignCenter {
    display: block;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    text-align: center
}

.centerWidth40PercentAndTextAlignCenter {
    z-index: 1;
    display: block;
    width: 40%;
    margin: 0 30%;
    text-align: center
}

.centerWidth80Percent {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.centerWidth50Percent {
    display: block;
    width: 50%;
    margin: 0 25%;
}

.centerWidth40Percent {
    position: static;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.center {
    margin: auto;
    width: 20%;
}

.Width-20-MarginLeft-10 {
    position: relative;
    width: 20%;
    margin-left: 10%
}

.Width-10-MarginLeft-10 {
    position: relative;
    width: 10%;
    margin-left: 10%
}

.Width-10-MarginLeft-15 {
    position: relative;
    width: 10%;
    margin-left: 15%
}

.Width-10-MarginLeft-20 {
    position: relative;
    width: 10%;
    margin-left: 20%
}

.Width-10-MarginLeft-25 {
    position: relative;
    width: 10%;
    margin-left: 25%
}

.Width-20-MarginLeft-4 {
    position: relative;
    width: 20%;
    margin-left: 4%
}

.Width-15-MarginLeft-30 {
    position: relative;
    width: 15%;
    margin-left: 30%
}

.Width-15-MarginLeft-10 {
    position: relative;
    width: 15%;
    margin-left: 10%
}
